
{%extends "layout.html" %}
{%block content%}

<div id="descriptionCont">
    <h3>I am a plant basin, </h3>
    <div id="description">
        poo poo poo poo pee pee apple apple pear pear
    </div>
</div>
<div class="z-depth-3" id="log">
    <form id="log" method="post" action=".">
        <textarea id="textAreaYeah" name="text">{{text2}}</textarea>
       <input id="sendButton" type="submit" value="Submit" class="btn waves-effect waves-light"  />
    </form>
    
</div>

<br>




{% endblock content %}
